# Your MongoDB Atlas Connection String
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/?retryWrites=true&w=majority

# The internal API key matching the one set in the Next.js Admin-Dashboard
MOBILE_API_KEY=your_secure_backend_api_key_here
