# Your MongoDB Atlas Connection String
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/?retryWrites=true&w=majority

# JWT HS256 Shared Secret for secure Server-to-Server Admin Dashboard communication
ADMIN_JWT_SECRET=your_32_byte_hex_secret_here
